<section>
    <form class='search-form'>
        <label for="exampleFormControlInput1" class="form-label">Search bar</label>
        <input type='input' class='form-control' placeholder='Search by address/zip' id='searchBar'>
        <button id='searchBtn'>Search</button>
    </form>

    {{#each house as |houseData|}}
        <a href='/search/'></a><div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="" alt="...">
                </div>

                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title house-name" id='{{this.violationid}}'>{{housenumber}} {{streetname}} {{boro}}, {{zip}}</h5>
                    <p class="card-text house-desc">hello</p>
                    <p class="card-text house-vio">
                        <small>
                            {{#if violationstatus}}
                            Violation: {{violationstatus}}
                            {{else}}
                            Violation: {{violationstatus}}
                            {{/if}}
                        </small>
                    </p>
                </div>
                </div>
            </div>
        </div>     
    {{/each}}
</section>

<script src='/js/homeScripts.js'></script>