<section>
     <form class="search-form my-2 my-lg-3 d-flex">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by Address or Zip Code" aria-label="Search" id="searchBar">
        <button class="btn btn-outline-success my-0 my-sm-0" type="submit" id='searchBtn'>Search</button>
    </form>

    {{#each house as |houseData|}}
        <a "navbar-brand" href='/search/'></a>
        <div class="card text-center mb-3" style="max-width: 25rem;">
            <div class="row g-0">
                <div class="col-12 col-md-12">
                    <div class="card-body">
                        <h5 class="card-title house-name" id='{{this.violationid}}'>{{housenumber}} {{streetname}} {{boro}}, {{zip}}</h5>
                        <p class="card-text house-vio">
                            <h5>
                                <small class="text-muted">
                                    {{#if violationstatus}}
                                    Violation: {{violationstatus}}
                                    {{else}}
                                    Violation: {{violationstatus}}
                                    {{/if}}
                                </small>
                            </h5>
                        </p>
                    </div>
                </div>
            </div>
        </div>     
    {{/each}}
</section>

<script src='/js/homeScripts.js'></script>
