{{#each house}}
<div class="text-center">
  {{!-- <h2>{{name}}</h2> --}}
  {{!-- <p>{{{get_emoji}}}</p> --}}
  {{!-- <p>
    <span for="img" aria-label="money">💲</span>
  </p> --}}
  <h2>-----------------------------------------------</h2>
  <p>Neighborhood Tabulation Areas: {{nta}}</p>
  <p>Violation ID: {{violationid}}</p>
  <p>Building ID: {{buildingid}}</p>
  <p> Registration ID: {{registrationid}}</p>
  <p>Violation Status: {{violationstatus}}</p>
  <p>Violation Description: {{novdescription}}</p>
  <p>Violation Approved Date: {{approveddate}}</p>
  <p>Community Board: {{communityboard}}</p>
   <p>House Number: {{housenumber}}</p>
  <p>Street Name: {{streetname}}</p>
  <p>Street Code: {{streetcode}}</p>
  <p>Borough: {{boro}}</p>
  <p>Zip Code: {{zip}}</p>
</div>
{{/each}}

