<section>
    {{#each house}}
        <div class="card mb-3 house-card" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="" alt="...">
                </div>

                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title house-name" id='{{this.violationid}}'>{{this.housenumber}} {{this.streetname}} {{this.boro}}, {{this.zip}}</h5>
                    <p class="card-text house-desc"></p>
                    <p class="card-text house-vio">
                        <small>
                            {{#if this.violationstatus}}
                            Violation: {{this.violationstatus}}
                            {{else}}
                            Violation: {{this.violationstatus}}
                            {{/if}}
                        </small>
                    </p>

                    <button class='saveBtn' data-id='save' onClick='save({{this.violationid}})'>Save</button>
                </div>
                </div>
            </div>
        </div>     
    {{/each}}        
</section>
{{!-- {{#if logged_in}} --}}
<script src='/js/save.js'></script>
{{!-- {{/if}} --}}